.hero-image
	background-color: $color-2
	position: relative
	height: 33rem

	.wrapper
		height: 100%
		background-image: url('img/hero.jpg')
		background-position: center left
		background-size: contain
		background-repeat: no-repeat


	.mid-box
		position: absolute
		top: 50%
		transform: translateY(-50%)

	h1
		font: normal 4rem/110% $font-sec
		color: $color-9
		margin-bottom: 0.5rem
	p
		color: $color-9
		margin-bottom: 2rem
	a
		color: $color-9